@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');
body{
  background: #5BA9FF;
  width: 100%;
  font-family: 'Special Elite', cursive;
  display: flex;
  align-items: center;
}
.dog{
display: block;
align-items: center;
width: 100%;
}
#barclay{
  width: 500px;
}
#logo{
  height: 200px;
  cursor: pointer;
}
h1{
  text-align: center;
  font-size: 15px;
}

#speech-bubble {
  text-align: center;
	position: relative;
	background: #FFC039;
	border-radius: .4em;
  width: 60%;
  height: 200px;
  font-size: 60px;
  padding: 10px;

}

#speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 33px solid transparent;
	border-top-color: #FFC039;
	border-bottom: 0;
	border-left: 0;
	margin-left: -16.5px;
	margin-bottom: -33px;
}
@media screen and (max-width: 900px) {
  #logo{
    height: 150px;
  }
  }


@media screen and (max-width: 600px) {
  #logo{
    height: 100px;
  }
  body{
    display: inline;
  }
}
@media screen and (max-width: 300px) {
  #logo{
    height: 50px;
    align-items: center;
  }
  body{
    display: inline;
    align-items: center;
  }
}
